

<form  asp-action="CreateNews">
    <label>Name</label>
    <input  type="text" name="Name" />
    <label>Description</label>
    <input type="text" name="Description" />
    <input type="submit" value="Submit"/>
</form>



